@import '@/styles/variables.scss';

.player-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    padding-top: 80px;
  }

  &__footer {
    background: $bg-secondary;
    border-top: 1px solid $border-light;
    padding: 2rem 0;
    text-align: center;
    color: $text-secondary;
    font-size: 0.875rem;
  }
}
